@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700&display=swap');
:root{
    --primary-green : #43A047;
    --dark : #424242;
    --primary-green-transparent:rgba(67, 160, 72, 0.95);
    --primary-gray:#f3f3f3;
    --heading-text-dark: rgb(80, 80, 80);
    font-family: 'Montserrat', sans-serif;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: rgba(0,0,0,0.87);
}
.content-header{
    background: var(--primary-green);
    height: 250px;
    width:100%;
}
.content-header h2{
    font-size: 28px;
    font-weight: 700;
    color: white;
    text-align: center;
}
.content-header p{
    font-size:18px;
    font-weight: 600;
    color:white;
}
.btn-green{
    background: var(--primary-green);
    color:white;
}
.bottom-shadow{
    box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.3);
}
.logo{
    color: var(--primary-green) !important;
    font-weight: 900;
    font-size:30px !important;
}
/* Typography css */

.text-dark a{
    color:var(--dark);
}
a.nav-link{
    font-weight: 600;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 14px;
    margin:0px 10px;
}
.link-highlight button{
    background: rgb(31, 139, 37);
    border-radius: 20px;
    outline: 0;
    color:white !important;
    font-weight: 400;
    border:0;
    transition:all .2s;
}
.link-highlight button:hover{
    background:  var(--primary-green)
}
.heading-text{
    font-size: 30px;
    font-weight: 700;
    display: inline-block;
    padding: 10px 20px;
    color:var(--heading-text-dark);
    border-bottom: 1px solid rgba(0, 0, 0, 0.226);
    margin-bottom:40px;
}

/* Footer */
.footer-bg{
    background: linear-gradient(to top,var(--primary-green-transparent),var(--primary-green-transparent)),url('../img/background/footer.jpg');
    background-size: cover;
    padding:20px 0 0 0;
    margin-top: 180px;
}
.footer-box{
    padding:10px 25px;
    box-sizing: border-box;
}
.footer-box a{
    text-decoration: none;
    color:white;
    transition: all .2s;
}
.footer-box a:hover{
    text-decoration: none;
    color:var(--dark);
}

.footer-logo{
    width:100%;
    padding:20px 40px;
}
.footer-logo img{
    width:200px;
    display : block;
    margin:0 auto;
    
}
.footer-heading{
    color:white;
    font-size:26px;
    font-weight: 700;
}
.footer-item{
    list-style-type: none;
    margin:6px 0px;
}


.footer-item i{
    color:white;
 
}
.footer-content{
    color:white;
}
.footer-reach-us{
    margin:0;
    padding:0;
    list-style-type: none;
}
.footer-reach-us li{
    margin:18px 0px;
    color: white;
}
.footer-reach-us li i{
    color:white;
    font-size: 26px;
    /* margin:0px 14px; */
    height:100%;
}


.main_carousel .carousel-caption{
    top: 40%;
    left: auto!important;
    width: 40%;
}
@media only screen and (max-width:500px){
    .main_carousel .carousel-caption{
    top: 20%;
    left: auto!important;
    width: 80%;
}
}

/* banner section */
.banner-img{
    width:100%;
}
.bg-green-dark{
    background: #00271d;
}
.banner-green-text{
    color:var(--primary-gray);
    border-bottom: 0;
    margin-bottom: 0;
    margin-top : 20px;
}
/* Service section */
.service-section{
    padding:50px 0px;
    background: var(--primary-gray);
}
.service-container{
    /* padding:20px 10px; */
    box-sizing: border-box;
}
.service-box{
    padding:20px 0px;
    background: white;
    transition:all .2s;
}
.service-box:hover{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    
}
.service-icon{
    width:130px;
    display: block;
    margin:0 auto;
}
.service-text{
    text-align: center;
    color:var(--primary-green);
    font-size:16px;
    font-weight: 700;
    text-transform: capitalize;
    margin:10px 0px;
}
/*-------------------------------------------
Profile page style start there
----------------------------------------------*/
.customer_profile_image{
    position: relative;
    width: 80%;
}
.customer_profile_image .badge{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    border-radius: 50px;
    box-shadow: 0px 0px 10px #000000aa;
}
.customer_profile_image img{
    width: 100%;
}

/* media section */

.media-section{
    padding:50px 60px;
    box-sizing: border-box;
}

.media-banner img{
    width:100%;
}
/* Package And Pramotions */
.package-section{
    background: var(--primary-gray);
    padding: 50px 0px;
}
.package-section h5,
.package-section h6{
    margin:0;
    padding:5px;
}
.package-container{
    text-align: center;
}
.package-box{
    padding:0;
}


.package-header{
    background: var(--primary-green);
    padding: 10px 0px;
    color:white;
}


.package-body{
    background: white;
    padding:0px 8px;
}
.package-body hr{
    margin:5px 0px;
}
.package-body p{
    font-size:12px;
}
.package-body h6{
    font-size: 14px;
    padding:12px 0px;
}

.package-footer{
    background: var(--primary-green);
    padding: 10px 0px;
    color:white;
}
.package-price{
    color: var(--primary-green);
    font-size: 30px;
    font-weight: 700;   
    
}

/* why us section */

.why-us-section{
    padding:50px 0;
}
.why-us-box{
    padding:0;
}
.why-us-img{
    width:100%;
}
.why-us-content h6{
    text-align: center;
    font-size: 14px;
    margin: 10px 0;
    font-weight: 700;
    text-transform: uppercase;
}
.why-us-content p{
    text-align:justify;
    font-size: 12px;
}

/* testimonial Section */

.testimonial-section{
    padding:50px 0;
    background: var(--primary-gray);
}

.testimonial-box{
    background: white;
    padding:20px 30px ;
}

.avatar-img-container{
    padding:0;
}
.avatar-img{
    border-radius: 50%;
}
.testimonial-header h5{
    font-weight: 600;
}
.testimonial-header p{
    font-size:12px;
}
.testimonial-section .col-center {
  margin: 0 auto;
  float: none !important;
}
.testimonial-section .carousel {
  margin: 50px auto;
  padding: 0 70px;
}
.testimonial-section .carousel .item {
  color: #999;
  font-size: 14px;
    text-align: center;
  overflow: hidden;
    min-height: 290px;
}
.testimonial-section .carousel .item .img-box {
  width: 135px;
  height: 135px;
  margin: 0 auto;
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 50%;
}
.testimonial-section .carousel .img-box img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 50%;
}
.carousel .testimonial {
  padding: 30px 0 10px;
}
.carousel .overview { 
  font-style: italic;
}
.carousel .overview b {
  text-transform: uppercase;
  color: #7AA641;
}
.carousel .carousel-control {
  width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
  background: none;
}
.carousel-control i {
    font-size: 68px;
  line-height: 42px;
    position: absolute;
    display: inline-block;
  color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel .carousel-indicators {
  bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
  width: 10px;
  height: 10px;
  margin: 1px 3px;
  border-radius: 50%;
}
.carousel-indicators li { 
  background: #999;
  border-color: transparent;
  box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {  
  background: #555;   
  box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}

/* ################# Contact Us Page ############## */
.contact-us-section{
    padding:50px 0;
}
.contact-us-box{
    margin:15px 0px;
}
.contact-left{
    text-align: center;
}
.contact-left i{
    color:var(--primary-green);
    font-size: 28px;
}
.contact-right a {
    text-decoration: none;
    color:var(--dark);
}
.contact-right a:hover{
    color: var(--primary-green);
}

/* ################# Contact Us Page ############## */
.founder-section{
    background: var(--primary-gray);
    padding:50px 0;
}
.about-us-section{
    padding:50px 0;
}
.heading-about{
    background: var(--dark);
    color:white;
    display: inline-block;
    border-radius: 100px;
    padding:5px 20px;
    margin-bottom: 30px;
}

.founder-img{
    width:80%;
}
.founder-content{
    text-align: justify;
}
.idea-section{
    padding:50px 0;
}
.idea-about{
    display: block;
    margin:0 auto;

}

/* Price Section / Page styles */

.price-section{
    padding:50px 0;
    min-height: 751px;
}
.card-body{
    text-align: center;
    
    /*background-color:#e9f9e9;*/
    background-color: transparent;
}
.package-addon{
    color: var(--primary-dark);
    font-weight: 700;
    font-size:16px;
}

/* Locate Us page css */

.locate-us-section{
    padding:50px 0;
    min-height: 579px;
}
.locate-us-box{
    margin:50px 0;
}
.locate-content{
    padding:20px 30px;
    box-sizing: border-box;
    background-image: linear-gradient(to right top,#004d7a, #008793, #00bf72);
    color:white;
}
.locate-us-box i{
    font-size:34px;
    padding:20px;
    color:white;
    border-radius: 50px;
    
}
.pincode{
    font-weight: 700;
    font-size:16px;
    display: inline-block;
    margin:15px 0;
}
/* .locate-us-box .locate-content,
.locate-us-box .locate-icon i{
    box-shadow: 3px 3px 12px 2px rgba(0, 0, 0, 0.09);
    transition: all .4s;
}

.locate-us-box:hover .locate-content{
    color:white
}
.locate-us-box:hover .locate-content {
    background: var(--dark);
    box-shadow: 5px 5px 15px 6px rgba(0, 0, 0, 0.19);
}
.locate-us-box:hover .locate-content i{
    color:black;
    background: white;
}
.locate-body{
    margin:10px 0;
} */
/* modal */
#services+div.btn-group{
    display: block !important;
    border: 1px solid #ced4da !important;
    outline: none;
    border-radius: 4px;
}
#services+div.btn-group .dropdown-toggle{
    width:100% !important;

}
.multiselect-container{
    width:100%;
}
.multiselect-container>li>a{
    outline : none;
    color:var(--primary-green);
}

/* side panel  */
.side-panel{
    background:black;

}
#service-card-body{
    background:white;
    border:1px solid var(--primary-green);
    border-radius: 5px;
}
.service-card-text{
    color:var(--primary-green);
    font-weight: 700;
    color:grey;

}

.card-date {
    padding-top: 50px;
    /*float: left;*/
    

}

.booking__container{
    background-image: url('../img/background/laundry.jpg');
    width: 100%;
    height: 500px;
    background-size: 100%;
    
}
.booking__container .overlay{
    background-color: rgba(0,0,0,.8);
    width:100%;
    height: 100%;
    padding:50px 20px;
}

.left__side{
    height: 90%;
    max-width: 48%;
    background: orange;
    padding: 50px 10px;
}
.left__side .card, .right__side .card{background: transparent;}
.right__side{
    width:48%;
    margin-left: 20px;
    height: 90%;
    background: #fff;
    padding: 50px 10px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.inner-form-container{
    /*margin: auto;*/
    margin-left:350px;
    margin-top: 40px;
}


/*/*/

/*sign in and signup page start*/

    .register{
    background: -webkit-linear-gradient(left, #4ba351, #24e082);
    margin-top: 3%;
    padding: 3%;
}
.register-left{
    text-align: center;
    color: #fff;
    margin-top: 4%;
}
.register-left a.btn{
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    width: 60%;
    background: #f8f9fa;
    font-weight: bold;
    color: #383d41;
    margin-top: 30%;
    margin-bottom: 3%;
    cursor: pointer;
}
.register-right{
    background: #f8f9fa;
    border-top-left-radius: 10% 50%;
    border-bottom-left-radius: 10% 50%;
}
.register-left img{
    margin-top: 15%;
    margin-bottom: 5%;
    width: 25%;
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
.register-left p{
    font-weight: lighter;
    padding: 12%;
    margin-top: -9%;
}
.register .register-form{
    padding: 10%;
    margin-top: 10%;
}
.btnRegister{
    float: right;
    margin-top: 10%;
    border: none;
    border-radius: 1.5rem;
    padding: 2%;
    background: #44b25c;
    color: #fff;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
}
.register .nav-tabs{
    margin-top: 3%;
    border: none;
    background: #0062cc;
    border-radius: 1.5rem;
    width: 28%;
    float: right;
}
.register .nav-tabs .nav-link{
    padding: 2%;
    height: 34px;
    font-weight: 600;
    color: #fff;
    border-top-right-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.register .nav-tabs .nav-link.active{
    width: 100px;
    color: #0062cc;
    border: 2px solid #0062cc;
    border-top-left-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
}
.register-heading{
    text-align: center;
    margin-top: 8%;
    margin-bottom: -15%;
    color: #495057;
}
/*sign in and signup page end*/


.copyrights{
    height: 50px;
    clear: both;
    overflow: hidden;
    margin: 0px;
    border-top: 1px solid #118a19;
    padding: 5px 10px
}
.copyrights .app-promo{
    
}
.copyrights .app-icon{
    max-width: 120px;
    margin:0px 10px;
}
.copyrights .app-icon img{
    width: 107px;
    margin-right: 20px;
}

/*dryclining page start there*/
.dryclining{}
.dryclining .container2{
    background: #eee;
    padding: 50px 0px 50px 30px;
}
.dryclining{}
.dryclining .container3{
    
    padding: 50px 0px 50px 30px;
}
.dryclining .container4{
    background: #eee;
    padding: 50px 0px 50px 30px;
     line-height: 30px;
}
.dryclining .container5{   
    padding: 50px 0px 50px 30px;
    line-height: 30px;
}
.dryclining .container5 ul li{
    font-size: 17px;
}

.center-justified {
    margin: 0 auto;
    text-align: justify;
    width: 30em;
}



.row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container-checkout {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  /*background-color: #4CAF50;*/
  color: black;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  /*background-color: #45a049;*/
}

a {
  color: #2196F3;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other (also change the direction - make the "cart" column go on top) */
@media (max-width: 800px) {
  .row {
    flex-direction: column-reverse;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}



/*fetch Image after order*/

.card {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #28a745;
}

.card .card-heading {
    padding: 0 20px;
    margin: 0;
}

.card .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.card .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}

.card .card-body {
    padding: 0 20px;
    margin-top: 20px;
}

.card .card-media {
    padding: 0 20px;
    margin: 0 -14px;
}


.card .card-media img {
    max-width: 100%;
    max-height: 100%;
}

.card .card-actions {
    min-height: 30px;
    padding: 0 20px 20px 20px;
    margin: 20px 0 0 0;
}

.card .card-comments {
    padding: 20px;
    margin: 0;
    background-color: #f8f8f8;
}
.card .card-comments .comments-collapse-toggle {
    padding: 0;
    margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,
.card .card-comments .comments-collapse-toggle span {
    padding-right: 5px;
    overflow: hidden;
    font-size: 12px;
    color: #999;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-comments .media-heading {
    font-size: 13px;
    font-weight: bold;
}

.card.people {
    position: relative;
    display: inline-block;
    width: 170px;
    height: 300px;
    padding-top: 0;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
}

.card.people:first-child {
    margin-left: 0;
}

.card.people .card-top {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 170px;
    height: 150px;
    background-color: #ffffff;
}

.card.people .card-top.green {
    background-color: #53a93f;
}

.card.people .card-top.blue {
    background-color: #427fed;
}

.card.people .card-info {
    position: absolute;
    top: 150px;
    display: inline-block;
    width: 100%;
    height: 101px;
    overflow: hidden;
    background: #ffffff;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.people .card-info .title {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    color: #404040;
}

.card.people .card-info .desc {
    display: block;
    margin: 8px 14px 0 14px;
    overflow: hidden;
    font-size: 12px;
    line-height: 16px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.people .card-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    line-height: 29px;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
}

.card.hovercard .cardheader {
    background: url("http://lorempixel.com/850/280/nature/4/");
    background-size: cover;
    height: 135px;
}

.card.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.card.hovercard .avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.card.hovercard .info {
    padding: 4px 8px 10px;
}

.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.card.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}

/*.btns{ border-radius: 50%; width:32px; height:32px; line-height:18px;  }*/


#newbtn{
    margin-left:-150px;
}

#detail{
    float: left;margin-left:-120px;margin-bottom: 10px;color: white;
}

@media(min-width: 768px) {
  .field-label-responsive {
    padding-top: .5rem;
    text-align: right;
  }
}

.facilities-date{
    margin-top: 12px;
}

.p-3{
    padding: 60px 10px !important;
}
